body, .list-group-item {
     background-color: #0c7cf9 !important;
}
/* snyggar till layouten med lite borders */
#left-col {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.rounded {
    margin-top: 20px;
}
#row1-col2 {
    border-bottom: 1px solid black; 
    border-top: 1px solid black; 
}
#row3-col2 {
    border-bottom: 1px solid black;
}
.font-effect-3d {
    font-family: Roboto, sans-serif !important; 
}
h6 {
    font-style: italic;
    font-size: 1.2em !important;
}
/* Lade till padding för att skapa mer space till huvudrubrikerna i column 2 */
h2 {
    padding: 20px 0 20px 0;
}
/* justerade min banner lite samt anchor tagsen i den */
.my-row {
    background-color: rgb(82, 77, 181);
    height: 40px !important;
}
.col-12 a {
    color: black !important;
    font-size: 1.5em;
}
.text-left a {
    color: black;
}

/* Tar bort bordern för enheter under 767px dvs när vi går ner på 1 column tar vi bort bordern */
@media (max-width:767px) {
    #left-col
    {
        border-right:none;
    }
}
/* fixade problem med att ikonen vid arbetslivserfarenhet bytte rad på små enheter */
@media (max-width:320px) {
    h2
    {
        font-size: 1.7em !important;
    }
}
@media (min-width:1800px) {
    img.rounded {
        width: 450px;
    }
    #banner {
        border-top: 1px solid black;
    }
    #left-col{
        border-bottom: none;
    }
}